@font-face {
  font-family: 'Atomic Age';
  font-style: normal;
  font-weight: normal;
  src: url('AtomicAge-Regular.ttf');
}

@font-face {
  font-family: 'Thicker Trial Italic';
  font-style: normal;
  font-weight: normal;
  src: url('Thicker-Black-Italic-trial.ttf');
}

@font-face {
  font-family: 'Thicker Bold Slanted';
  font-style: normal;
  font-weight: normal;
  src: url('Thicker-Bold-Slanted-trial.ttf');
}

@font-face {
  font-family: 'Thicker Bold Trial';
  font-style: normal;
  font-weight: normal;
  src: url('Thicker-Bold-trial.ttf');
}

@font-face {
  font-family: 'Thicker Light Trial';
  font-style: normal;
  font-weight: normal;
  src: url('Thicker-Light-trial.ttf');
}

@font-face {
  font-family: 'Thicker Medium Slanted';
  font-style: normal;
  font-weight: normal;
  src: url('Thicker-Medium-Slanted-trial.ttf');
}

@font-face {
  font-family: 'Thicker Trial';
  font-style: normal;
  font-weight: normal;
  src: url('Thicker-Medium-trial.ttf');
}

@font-face {
  font-family: 'Thicker Semibold Slanted';
  font-style: normal;
  font-weight: normal;
  src: url('Thicker-Semibold-Slanted-trial.ttf');
}

@font-face {
  font-family: 'Thicker Semibold Trial';
  font-style: normal;
  font-weight: normal;
  src: url('Thicker-Semibold-trial.ttf');
}

