.modal-window{
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background: rgba(28, 28, 28, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: 0.3s ease;
}
.modal-wrapper{
  overflow: scroll;
  position: relative;
  background: #161616;
  border: 1px solid #FFFFFF;
  margin-top: 57px;
  width: 100%;
  padding-top:61px ;

  .modal-close {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
  }
}

@media (min-width: 767px) {
  .modal-wrapper{
    overflow: scroll;
    position: relative;
    background: #161616;
    border: 1px solid #FFFFFF;
    margin-top: 80px;
    max-width: 460px;
    max-height: 600px;
    padding: 61px 15px;
  }
}

@media (min-width: 1023px) {
  .modal-wrapper{
    overflow: scroll;
    position: relative;
    background: #161616;
    border: 1px solid #FFFFFF;
    margin-top: 80px;
    max-width: 460px;
    max-height: 600px;
    padding: 61px 15px;
  }
}
@media (min-width: 1439px) {
  .modal-wrapper{
    overflow: scroll;
    position: relative;
    background: #161616;
    border: 1px solid #FFFFFF;
    margin-top: 80px;
    max-width: 460px;
    max-height: 811px;
    padding: 61px 15px;
  }
}
